{
    "trailingComma": "all",
    "overrides": [
        {
          "files": ["*.sol"],
          "options": {
            "printWidth": 140,
            "tabWidth": 4,
            "useTabs": true,
            "explicitTypes": "always"
          }
        }
      ]
}
